.button-menu-nav-bar {
  margin: 19px 34.5px 19px 34.5px;
  border: none;
  background: none;

  font-family: "Euclid Circular B";
  font-size: 16px;
  line-height: 16px;

  color: rgba(0, 0, 0, 0.8);
}

.menu-nav-bar {
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  box-sizing: border-box;
  border-radius: 4px;
}


