<h1>Consultar produtos</h1>
<div class="mat-elevation-z8"
     style="border-radius: 10px; margin: 20px 60px 56px; padding: 20px 36px 56px; background: #FFFFFF;">

  <h2 style="color: #373A3C; font-size: 23px; line-height: 24px; display: flex">
    <mat-icon>list_alt</mat-icon>
    Produtos
  </h2>

  <table [dataSource]="dataSource" mat-table>

    <ng-container matColumnDef="id">
      <th *matHeaderCellDef mat-header-cell> ID</th>
      <td *matCellDef="let element" mat-cell style="max-width: 25%"> {{element.idProduto}} </td>
    </ng-container>

    <ng-container matColumnDef="codigo">
      <th *matHeaderCellDef mat-header-cell> Código</th>
      <td *matCellDef="let element" mat-cell style="max-width: 15%"> {{element.codigo}} </td>
    </ng-container>

    <ng-container matColumnDef="nome">
      <th *matHeaderCellDef mat-header-cell> Nome</th>
      <td *matCellDef="let element" class="truncate-cell" mat-cell> {{element.nome}} </td>
    </ng-container>

    <ng-container matColumnDef="precoUnitario">
      <th *matHeaderCellDef mat-header-cell> Preço Unitário</th>
      <td *matCellDef="let element" mat-cell
          style="max-width: 10%"> {{element.precoUnitario | currency:'BRL':true}} </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
