table {
  width: 100%;
}

h1 {
  color: #373A3C;
  font-size: 26px;
  line-height: 30px;
  margin-left: 60px;
  margin-top: 30px;
  margin-bottom: 24px;
}

.truncate-cell {
  max-width: 60px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.clienteAutoComplete {
  height: 37px;
  width: 596.54px;
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  box-sizing: border-box;
  border-radius: 4px;
}

.produtoAutoComplete {
  height: 37px;
  width: 596.54px;
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  box-sizing: border-box;
  border-radius: 4px;
}

.example-option-img {
  vertical-align: middle;
  margin-right: 8px;
}

[dir='rtl'] .example-option-img {
  margin-right: 0;
  margin-left: 8px;
}

.imagemList {
  float: left;
}

.qntItens {
  font-size: 14px;
  border: 2px solid #CCCCCC;
  border-radius: 4px;
  padding: 5px;
}

.card {
  height: auto;
  border-radius: 10px;
  margin: 20px 60px 20px;
  padding: 20px 36px 56px;
  background: #FFFFFF;
}

.resumo-text {
  color: rgba(0, 0, 0, 0.4);
  font-size: 20px;
}

.resumo-price {
  font-weight: bold;
  font-size: 20px;
  color: #373A3C;
}
