<h1>Consultar pedidos</h1>
<div class="mat-elevation-z8"
     style="border-radius: 10px;margin: 20px 60px 56px; padding: 20px 36px 56px; background: #FFFFFF;">

  <h2 style="color: #373A3C; font-size: 23px; line-height: 24px; display: flex">
    <mat-icon>list_alt</mat-icon>
    Pedidos
  </h2>

  <table [dataSource]="dataSource" mat-table>

    <ng-container matColumnDef="codigo">
      <th *matHeaderCellDef mat-header-cell> #</th>
      <td *matCellDef="let element" mat-cell> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="valorTotal">
      <th *matHeaderCellDef mat-header-cell> Valor total</th>
      <td *matCellDef="let element" mat-cell> {{element.valorTotal  | currency:'BRL':true}} </td>
    </ng-container>

    <ng-container matColumnDef="quantidade">
      <th *matHeaderCellDef mat-header-cell> Quant. de itens</th>
      <td *matCellDef="let element" mat-cell> {{totalItens(element)}} </td>
    </ng-container>

    <ng-container matColumnDef="valorFrete">
      <th *matHeaderCellDef mat-header-cell> Valor do frete</th>
      <td *matCellDef="let element" mat-cell> {{element.valorFrete  | currency:'BRL':true}} </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
